@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #9300ff;
  --secondary: #6dd400;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-wix-madefor-text);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
  --font-montserrat: var(--font-montserrat);
  --font-nunito: var(--font-nunito);
  --font-urbanist: var(--font-urbanist);
  --font-roboto: var(--font-roboto);
  --font-playfair-display: var(--font-playfair-display);
  --font-mulish: var(--font-mulish);
  --font-caveat: var(--font-caveat);
  --font-fjord-one: var(--font-fjord-one);
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
  --font-saira: var(--font-saira);
  --font-barlow: var(--font-barlow);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
button {
  cursor: pointer;
}
.cont {
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;

  @media (min-width: 1024px) {
    padding-right: 60px;
    padding-left: 60px;
  }
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
}

@media (min-width: 1024px) {
  .custom-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background: #e1ebc2d6;
    border-radius: 4px;
  }

  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #e1ebc2;
  }

  .custom-scroll::-webkit-scrollbar-button {
    display: none;
  }
}
