@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #d4f758;
  --secondary: #bce63f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-wix-madefor-text);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
.cont {
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;

  @media (min-width: 1024px) {
    padding-right: 60px;
    padding-left: 60px;
  }
}
